.title{
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--color-white-100);
    margin-bottom: 2rem;
}

.highlightsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.highlightItem {
    background-color: var(--color-white-100);
    border: 1px solid var(--color-white-300);
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    width: 100%;

    padding: 1rem;
}
.highlightTitle {
    color: var(--color-black-600);
    font-size: 2.4rem;
    font-weight: bold;

    margin-bottom: 1rem;
}
.highlightDescription {
    color: var(--color-black-300);
    font-size: 1.4rem;
}