.title{
    color: var(--color-white-100);
    font-size: 4.2rem;
    font-weight: bold;

    margin-bottom: 6rem;
}
.highlightsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}