.sectionHighlights{
    min-height: 60rem;
}
.title{
    color: var(--color-white-100);
    font-size: 4.2rem;
    font-weight: bold;

    margin-bottom: 6rem;
}
.highlightsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-content: space-between;
    align-items: center;
    gap: var(--padding-global);
}