// Imports
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import "../colors/colors", "../fonts/fonts";
// Default styles
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  font: $defaultFont;
}
/* Custom classes */
// Invisible
.hidden{
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  display: none;
}
// Text-colors
.cl-black16 {
  color: $black16 !important;
}
.cl-black32 {
  color: $black32 !important;
}
.cl-black48 {
  color: $black48 !important;
}
.cl-black64 {
  color: $black64 !important;
}
.cl-white {
  color: $white !important;
}
.cl-red {
  color: red !important;
}
.cl-orange {
  color: orangered !important;
}
.cl-yellow {
  color: yellow !important;
}
.cl-green {
  color: green !important;
}
.cl-blue {
  color: blue !important;
}
.cl-purple {
  color: purple !important;
}
.cl-pink {
  color: pink !important;
}
// Image-focus-point
.imgfcp-center {
  background-position: center;
}
.imgfcp-top {
  background-position: top;
}
.imgfcp-bottom {
  background-position: bottom;
}
.imgfcp-left {
  background-position: left;
}
.imgfcp-right {
  background-position: right;
}
// Image-size
.imgsize-cover {
  background-size: cover;
}
.imgsize-20 {
  background-size: 20%;
}
.imgsize-40 {
  background-size: 40%;
}
.imgsize-60 {
  background-size: 60%;
}
.imgsize-80 {
  background-size: 80%;
}
.imgsize-100 {
  background-size: 100%;
}

.margin-auto{
  margin: auto auto !important;
}
.margin-top-50p{
  margin-top: 50%  !important;
  transform: translateY(-50%) !important;
}
.margin-top-5{
  margin-top: 5rem !important;
}
.margin-top-10{
  margin-top: 10rem !important;
}
.margin-top-15{
  margin-top: 15rem !important;
}
.margin-top-20{
  margin-top: 20rem !important;
}
.margin-top-25{
  margin-top: 25rem !important;
}