@import "../colors/colors", "../fonts/fonts";

body{
    overflow-x: hidden;
    font: $defaultFont;
    &::-webkit-scrollbar{
        width: 0.3rem;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $main;
    }
    &::-webkit-scrollbar-track{
        background-color: $white;
    }
}



nav{
    position: sticky;
    top: 0;
    z-index: 3;
    .menu{
        background-color: $main;
        color: $white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        font: $navLink;
        font-size: 2rem;
        padding: 1rem 0;
        & > li > a:not([class="noLine"]){
            color: $white;
            text-decoration: none;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                bottom: -0.5em;
                left: 0;
                width: 100%;
                height: 0.2em;
                background: $accent;
                border-radius: 0.5em;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: 0.15s linear;
                transition: 0.15s linear;
            }
        }
        & > li > a:hover{
            color: $accent;
            &::before{
                visibility: visible;
                transform: scaleX(1);
            }
        }
        & > .social{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            & > .item{
                padding: 1.5rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 1rem;
            }
            .menuFb{
                background-image: url("../Images/facebook.png");
                &:hover{
                    background-image: url("../Images/facebook-blue.png");
                }
            }
            .menuTwt{
                background-image: url("../Images/twitter.png");
                &:hover{
                    background-image: url("../Images/twitter-blue.png");
                }
            }
            .menuInsta{
                background-image: url("../Images/instagram.png");
                &:hover{
                    background-image: url("../Images/instagram-blue.png");
                }
            }
        }
    }
}



main{
    min-height: 100vh;
    & > .index{
        display: grid;
        grid-template-areas: "heroAside heroImg"
        "info info"
        "carousel carousel"
        "adres adres";
        & > .heroImg{
            grid-area: heroImg;
            justify-self: right;
            & > img{
                width: 100%;
                height: 100%;
            }
        }
        & > .heroAside{
            grid-area: heroAside;
            padding-top: 20em;
            padding-left: 40em;
            & > h1{
                font: $aboutTitle;
                font-size: 10em;
                color: $main;
            }
            & > p{
                font: $defaultFont;
                font-size: 3.5em;
                margin-bottom: 3rem;
            }
            & > .heroBtn{
                background-color: $main;
                padding: 1rem 2rem;
                color: $white;
                font-size: 3em;
                text-decoration: none;
                text-align: center;
                border-radius: 3rem;
                &:hover{
                    color: $accent;
                }
            }
        }
        & > .info{
            grid-area: info;
            background-color: $main;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100em;
            & > p{
                font-size: 3.5em;
                font-weight: bold;
                color: $white;
                text-align: center;
                line-height: 3.5rem;
                margin-bottom: 2rem;
            }
            & > .infoBtn{
                background-color: $accent;
                padding: 1rem 2rem;
                color: $black64;
                font-size: 3em;
                text-decoration: none;
                text-align: center;
                border-radius: 1rem;
                &:hover{
                    color: $main;
                }
            }
        }
        & > .carousel{
            grid-area: carousel;
            margin: 0 auto;
            position: relative;
            width: 100%;
            height: 80vh;
            overflow: hidden;
            & > img{
                box-shadow: 1em 1em 100em $main;
                border: $main solid 0.1rem;
                max-width: 40rem;
                max-height: 40rem;
                position: absolute;
                top: 50%;
                left: 50%;
                opacity: 0;
                animation: carousel 15s infinite;
                &:nth-child(2) {
                    animation-delay: 3s;
                }
                &:nth-child(3) {
                    animation-delay: 6s;
                }
                &:nth-child(4) {
                    animation-delay: 9s;
                }
                &:nth-child(5) {
                    animation-delay: 12s;
                }
            }
            & > .decoration{
                position: absolute;
            }
            & > .scissors{
                transform: rotate(45deg);
                top: -0.5rem;
                left: 0;
            }
            & > .shavette{
                bottom: -5rem;
                right: -4rem;
            }
            & > .combs{
                transform: scale(0.8);
                bottom: -10rem;
                left: -8rem ;
            }
        }
        & > .adres{
            grid-area: adres;
            background-color: $main;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-top: 3rem;
            & > h1{
                font: $defaultFont;
                font-size: 6em;
                padding-bottom: 3rem;
                color: $white;
            }
            & > iframe{
                border-radius: 2.5rem;
            }
        }
    }
    
    
    & > .apropos{
        display: grid;
        grid-template-areas: "heroCarousel heroCarousel"
        "info info";
        grid-auto-columns: 50%;
        & > h1{
            font: $aboutTitle;
            position: absolute;
            bottom: 50%;
            right: 6%;
        }
        & > .heroImg{
            grid-area: heroCarousel;
            position: relative;
            margin: 0 auto;
            width: 95vw;
            height: 75vh;
            overflow: hidden;
            & > img{
                box-shadow: 1em 1em 100em $main;
                border: $main solid 0.1rem;
                min-width: 30rem;
                min-height: 30rem;
                max-width: 50rem;
                max-height: 50rem;
                position: absolute;
                top: 45%;
                left: 45%;
                opacity: 0;
                animation: carousel2 12s infinite;
                &:nth-child(2) {
                    animation-delay: 3s;
                }
                &:nth-child(3) {
                    animation-delay: 6s;
                }
                &:nth-child(4) {
                    animation-delay: 9s;
                }
            }
        }
        & > .heroAside{
            grid-area: heroAside;
            background-color: $main;
            display: grid;
            align-items: center;
            position: absolute;
            padding: 3rem;
            bottom: 20%;
            right: 0;
            & > p{
                color: $white;
                font: $defaultFont;
                font-size: 2rem;
            }
        }
        & > .container{
            grid-area: info;
            display: grid;
            grid-template-columns: 2fr 1fr;
            & > .info{
                background-color: $main;
                display: grid;
                justify-content: right;
                align-items: center;
                text-align: center;
                padding: 2rem;
                & > p{
                    font: $footerText;
                    font-size: 1.6rem;
                    color: $white;
                }
            }
            & > .photo{
                background-color: $main;
                padding: 2rem;
                & > img{
                    width: 20rem;
                    height: 20rem;
                }
            }
        }
    }
    
    
    & > .contact{
        height: 100vh;
        display: grid;
        grid-template-areas: "heroAside heroImg";
        grid-auto-columns: 50%;
        overflow: hidden;
        & > .heroImg{
            grid-area: heroImg;
            display: grid;
            justify-content: right;
            align-content: flex-end;
            & > img{
                height: 80vh;
            }
        }
        & > .info{
            grid-area: heroAside;
            background-color: white;
            display: grid;
            justify-content: right;
            align-items: center;
            text-align: center;
            padding: 2rem;
            & > h1{
                font: $aboutTitle;
                margin-bottom: -10rem;
            }
            & > p{
                color: $white;
                font: $footerText;
                font-size: 1.6rem;
                padding: 1.6rem;
                border-radius: 0.6rem;
                background-color: $main;
                box-shadow: 1rem 1rem 10rem $black16;
                & > a{
                    text-decoration: none;
                    color: $white;
                    &:hover{
                        color: $accent;
                    }
                }
            }
        }
    }
    
    
    & > .galerie{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        min-height: 75vh;
        justify-content: center;
        align-items: center;
        padding-top: 15vh;
        & > h1{
            font: $aboutTitle;
            position: absolute;
            top: 15vh;
            left: 50%;
            transform: translateX(-50%);
        }
        & > a{
            text-decoration: none;
            margin: 1.5rem 3rem;
            & > .card{
                background-color: $main;
                border-radius: 2.5rem;
                display: grid;
                grid-template-rows: 1fr 2fr;
                padding-bottom: 3rem;
                transition: all 0.5s;
                height: 50vh;
                &:hover{
                    transform: scale(1.05);
                    box-shadow: 1rem 1rem 1rem $black64;
                }
                & > .cardTitle{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & > h1{
                        font: $defaultFont;
                        font-size: 2.4rem;
                        color: $white;
                    }
                }
                & > .cardImg{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & > img{
                        border-radius: .5rem;
                        max-width: 35vh;
                        max-height: 35vh;
                    }
                }
            }
        }
        & .blank{
            width: 0;
            height: 0;
            pointer-events: none;
            padding: 0;
            margin: 0;
            visibility: 0;
            opacity: 0;
            display: none;
        }
    }


    & > .tarifs{
        & > .imgContainer{
            display: grid;
            grid-template: auto / auto auto;
            justify-content: center;
            & > img{
                width: 100%;
            }
        }
    }
}



footer{
    background-color: $main;
    display: grid;
    grid-template-areas:
    "line line"
    "left right"
    "copy copy";
    grid-auto-columns: 50%;
    padding: 5em 0 0.8em 0;
    &.galeriefooter{
        margin-top: 5rem;
    }
    & > .line{
        grid-area: line;
        margin: .05rem auto 2rem auto;
    }
    & > .left{
        grid-area: left;
        display: grid;
        justify-content: center;
        & > .container{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            & > a{
                color: $white;
                font-size: 1.5rem;
                text-decoration: none;
                padding-left: 2.5rem;
                margin-bottom: 0.6rem;
                &:hover{
                    color: $accent;
                }
            }
            & > .map{
                background-image: url("../Images/placemarker.png");
                background-position: left;
                background-repeat: no-repeat;
                background-size: contain;
            }
            & > .mail{
                background-image: url("../Images/mail.png");
                background-position: left;
                background-repeat: no-repeat;
                background-size: contain;
            }
            & > .phone{
                background-image: url("../Images/phone.png");
                background-position: left;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
    & > .right{
        grid-area: right;
        display: grid;
        justify-content: center;
    }
    & > .copy{
        grid-area: copy;
        font-size: 1rem;
        margin: 0 auto 1em auto;
        color: $white;
    }
}






@keyframes carousel {
    0% {
        transform: translate(100%, -50%);
        opacity: 0;
    }
    10% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    20% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    30% {
        transform: translate(-100%, -50%);
        opacity: 0;
    }
    100% {
        transform: translate(-100%, -50%);
        opacity: 0;
    }
}
@keyframes carousel2 {
    0% {
        transform: translate(-80%, -50%);
        opacity: 0;
    }
    10% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    20% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    30% {
        transform: translate(-80%, -50%);
        opacity: 0;
    }
    100% {
        transform: translate(-80%, -50%);
        opacity: 0;
    }
}






// L Size
@media only screen and (max-width: 1100px) {
    body{
        // background-color: red;
        & .menuCb{
            & ~ .container{
                & .menuCbLabel{
                    transition: all 0.5s;
                    background-image: url('../Images/menu-arrow.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: left;
                    margin-left: 7rem;
                    &::after{
                        content: 'Hairelby';
                        transition: all 0.5s;
                        display: inline-block;
                        font: $aboutTitle;
                        font-size: 2.4rem;
                        opacity: 0;
                    }
                }
            }
        }
        & .menuCb:checked{
            & ~ .container{
                & .menuCbLabel{
                    background-image: url('../Images/menu-bouton.png');
                    transform: scaleY(-1);
                    margin-left: 0;
                    &::after{
                        content: 'Hairelby';
                        transform: scaleY(-1);
                        opacity: 1;
                        padding-left: 3rem;
                    }
                }
                & .menu{
                    height: 10rem;
                    & li{
                        opacity: 0;
                        pointer-events: none;
                        margin-top: -5rem;
                    }
                }
            }
        }
        
        
        
        nav{
            & > .menu{
                transition: 0.25s linear;
                position: absolute;
                display: grid;
                text-align: center;
                padding-top: 4rem;
                height: 60rem;
                width: 100%;
                z-index: 50;
                & > li{
                    transition: 0.25s linear;
                    margin: 0.5rem;
                }
            }
        }
        
        
        
        main{
            & > .index{
                & > .heroImg{
                    margin-top: 8rem;
                    & > img{
                        width: 100%;
                        height: 100%;
                    }
                }
                & > .heroAside{
                    padding-top: 2rem;
                    padding-left: 4rem;
                    margin: 15rem 0;
                    & > h1{
                        font-size: 7em;
                    }
                    & > p{
                        font-size: 1.8rem;
                    }
                    & > .heroBtn{
                        padding: 1rem 2rem;
                        font-size: 1.6rem;
                    }
                }
                & > .carousel{
                    height: 60vh;
                }
            }
            
            
            & > .apropos{
                & > h1{
                    top: 15%;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 5rem;
                    width: 100%;
                    text-align: center;
                }
                & > .heroImg{
                    margin-top: 6rem;
                    & > img{
                        min-width: 25rem;
                        min-height: 25rem;
                        max-width: 50rem;
                        max-height: 50rem;
                    }
                }
            }
            
            
            & > .contact{
                & > .heroImg{
                    padding-left: 60rem;
                    & > img{
                        height: 50rem;
                    }
                }
                & > .info{
                    background-color: transparent;
                    & > h1{
                        margin-bottom: -60rem;
                    }
                }
            }
            
            
            & > .galerie{
                display: grid;
                grid-template-columns: 1fr 1fr;
                & > h1{
                    font-size: 3.4rem;
                }
                & > a{
                    margin: 3rem 6rem;
                }
                & > .blank{
                    height: 25rem;
                    width: auto;
                    display: initial;
                }
            }


            & > .tarifs{
                & > .imgContainer{
                    padding-top: 10rem;
                    grid-template: auto / auto;
                }
            }
        }
        
        
        
        footer{
            & > .line{
                margin: .05rem auto 2rem auto;
                width: 90vw;
            }
        }
    }
}

// M Size
@media only screen and (max-width: 825px) {
    body{
        // background-color: blue;
        main{
            & > .index{
                & > .heroImg{
                    margin-top: 8rem;
                    & > img{
                        position: absolute;
                        top: 10rem;
                        right: 0;
                        width: 55%;
                        height: 45%;
                        z-index: -1;
                    }
                }
                & > .heroAside{
                    margin: 15rem 0 10rem 0;
                    & > p{
                        width: 32rem;
                        text-shadow: $white 0 0 .8rem;
                    }
                }
                & > .info{
                    & > p{
                        font-size: 1.6rem;
                    }
                }
                & > .carousel{
                    height: 60vh;
                }
                & > .adres{
                    & > iframe{
                        border-radius: 2.5rem;
                        width: 50rem;
                    }
                }
            }
            
            
            & > .apropos{
                & > h1{
                    font-size: 4rem;
                }
                & > .heroImg{
                    margin-top: 8rem;
                }
            }
            
            
            & > .contact{
                height: 100vh;
                display: grid;
                grid-template-areas:
                "heroAside heroAside"
                "heroImg heroImg";
                grid-auto-columns: 50%;
                & > .heroImg{
                    grid-area: heroImg;
                    padding-left: 50rem;
                }
                & > .info{
                    grid-area: heroAside;
                    justify-content: center;
                    position: absolute;
                    top: 20rem;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 50rem;
                    & > h1{
                        margin-bottom: 0rem;
                    }
                }
            }
            
            
            & > .galerie{
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding-top: 20vh;
                & > h1{
                    font-size: 3.4rem;
                }
                & > a{
                    margin: 3rem 4rem;
                    & > .card{
                        padding: 1rem;
                    }
                }
                & > .blank{
                    height: 25rem;
                    width: auto;
                    display: initial;
                }
            }


            & > .tarifs{
                & > .imgContainer{
                    padding-top: 10rem;
                }
            }
        }
        
        
        
        footer{
            grid-template-areas:
            "line line"
            "left left"
            "right right"
            "copy copy";
            & > .line{
                grid-area: line;
            }
            & > .left{
                grid-area: left;
                margin-bottom: 1rem;
            }
            & > .right{
                grid-area: right;
                margin-bottom: 1rem;
            }
            & > .copy{
                grid-area: copy;
            }
        }
    }
}

// S Size
@media only screen and (max-width: 600px) {
    body{
        // background-color: yellow;
        main{
            & > .index{
                & > .heroImg{
                    & > img{
                        opacity: 0;
                    }
                }
                & > .heroAside{
                    margin: 15rem 0 10rem 0;
                    & > p{
                        width: 32rem;
                        text-shadow: $white 0 0 .8rem;
                    }
                }
                & > .info{
                    & > p{
                        font-size: 1.2rem;
                        width: 30rem;
                        padding: .5rem;
                        line-height: 2.5rem;
                    }
                    & > .infoBtn{
                        padding: 1rem;
                        font-size: 1.6rem;
                    }
                }
                & > .carousel{
                    height: 60vh;
                    & > img{
                        min-width: 10rem;
                        min-height: 10rem;
                        max-width: 25rem;
                        max-height: 25rem;
                    }
                }
                & > .adres{
                    & > iframe{
                        border-radius: 2.5rem;
                        width: 30rem;
                    }
                }
            }
            
            
            & > .apropos{
                & > h1{
                    font-size: 3.2rem;
                }
                & > .heroImg{
                    margin-top: 8rem;
                    & > img{
                        margin-left: 2rem;
                        min-width: 10rem;
                        min-height: 10rem;
                        max-width: 25rem;
                        max-height: 25rem;
                    }
                }
                & > .heroAside{ 
                    padding: 2rem;
                    & > p{
                        font-size: 1.3rem;
                    }
                }
                & > .container{
                    background-color: $main;
                    grid-template-columns: 1fr;
                    grid-template-rows: 2fr 1fr;
                    & > .info{
                        & > p{
                            font-size: 1.8rem;
                        }
                    }
                    & > .photo{
                        background-color: $main;
                        padding: 1rem;
                        margin-top: -1rem;
                        align-self: center;
                        justify-self: center;
                    }
                }
            }
            
            
            & > .contact{
                & > .heroImg{
                    padding-left: 50rem;
                }
                & > .info{
                    justify-content: center;
                    position: absolute;
                    top: 15rem;
                    width: 35rem;
                    & > h1{
                        margin-bottom: 0rem;
                        font-size: 3.8rem;
                    }
                }
            }
            
            
            & > .galerie{
                display: grid;
                grid-template-columns: 1fr;
                & > h1{
                    font-size: 3.6rem;
                    width: 30rem;
                }
                & > a{
                    & > .card{
                        padding-bottom: 2rem;
                    }
                }
                & > .blank{
                    height: 15rem;
                }
            }


            & > .tarifs{
                & > .imgContainer{
                    padding-top: 10rem;
                }
            }
        }
    }
}