body {
  overflow-x: hidden;
  font: 300 62.5% "Open Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #000E24;
}

body::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

nav .menu {
  background-color: #000E24;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  font: 200 2vw "Roboto", sans-serif;
  font-size: 2rem;
  padding: 1rem 0;
}

nav .menu > li > a:not([class="noLine"]) {
  color: whitesmoke;
  text-decoration: none;
  position: relative;
}

nav .menu > li > a:not([class="noLine"])::before {
  content: '';
  position: absolute;
  bottom: -0.5em;
  left: 0;
  width: 100%;
  height: 0.2em;
  background: #12EEFD;
  border-radius: 0.5em;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

nav .menu > li > a:hover {
  color: #12EEFD;
}

nav .menu > li > a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav .menu > .social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

nav .menu > .social > .item {
  padding: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem;
}

nav .menu > .social .menuFb {
  background-image: url("../Images/facebook.png");
}

nav .menu > .social .menuFb:hover {
  background-image: url("../Images/facebook-blue.png");
}

nav .menu > .social .menuTwt {
  background-image: url("../Images/twitter.png");
}

nav .menu > .social .menuTwt:hover {
  background-image: url("../Images/twitter-blue.png");
}

nav .menu > .social .menuInsta {
  background-image: url("../Images/instagram.png");
}

nav .menu > .social .menuInsta:hover {
  background-image: url("../Images/instagram-blue.png");
}

main {
  min-height: 100vh;
}

main > .index {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "heroAside heroImg" "info info" "carousel carousel" "adres adres";
}

main > .index > .heroImg {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: heroImg;
      justify-self: right;
}

main > .index > .heroImg > img {
  width: 100%;
  height: 100%;
}

main > .index > .heroAside {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: heroAside;
  padding-top: 20em;
  padding-left: 40em;
}

main > .index > .heroAside > h1 {
  font: 400 5rem "Permanent Marker", sans-serif;
  font-size: 10em;
  color: #000E24;
}

main > .index > .heroAside > p {
  font: 300 62.5% "Open Sans", sans-serif;
  font-size: 3.5em;
  margin-bottom: 3rem;
}

main > .index > .heroAside > .heroBtn {
  background-color: #000E24;
  padding: 1rem 2rem;
  color: whitesmoke;
  font-size: 3em;
  text-decoration: none;
  text-align: center;
  border-radius: 3rem;
}

main > .index > .heroAside > .heroBtn:hover {
  color: #12EEFD;
}

main > .index > .info {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: info;
  background-color: #000E24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100em;
}

main > .index > .info > p {
  font-size: 3.5em;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

main > .index > .info > .infoBtn {
  background-color: #12EEFD;
  padding: 1rem 2rem;
  color: #646464;
  font-size: 3em;
  text-decoration: none;
  text-align: center;
  border-radius: 1rem;
}

main > .index > .info > .infoBtn:hover {
  color: #000E24;
}

main > .index > .carousel {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: carousel;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

main > .index > .carousel > img {
  -webkit-box-shadow: 1em 1em 100em #000E24;
          box-shadow: 1em 1em 100em #000E24;
  border: #000E24 solid 0.1rem;
  max-width: 40rem;
  max-height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-animation: carousel 15s infinite;
          animation: carousel 15s infinite;
}

main > .index > .carousel > img:nth-child(2) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

main > .index > .carousel > img:nth-child(3) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

main > .index > .carousel > img:nth-child(4) {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

main > .index > .carousel > img:nth-child(5) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

main > .index > .carousel > .decoration {
  position: absolute;
}

main > .index > .carousel > .scissors {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -0.5rem;
  left: 0;
}

main > .index > .carousel > .shavette {
  bottom: -5rem;
  right: -4rem;
}

main > .index > .carousel > .combs {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  bottom: -10rem;
  left: -8rem;
}

main > .index > .adres {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: adres;
  background-color: #000E24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
}

main > .index > .adres > h1 {
  font: 300 62.5% "Open Sans", sans-serif;
  font-size: 6em;
  padding-bottom: 3rem;
  color: whitesmoke;
}

main > .index > .adres > iframe {
  border-radius: 2.5rem;
}

main > .apropos {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "heroCarousel heroCarousel" "info info";
  grid-auto-columns: 50%;
}

main > .apropos > h1 {
  font: 400 5rem "Permanent Marker", sans-serif;
  position: absolute;
  bottom: 50%;
  right: 6%;
}

main > .apropos > .heroImg {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: heroCarousel;
  position: relative;
  margin: 0 auto;
  width: 95vw;
  height: 75vh;
  overflow: hidden;
}

main > .apropos > .heroImg > img {
  -webkit-box-shadow: 1em 1em 100em #000E24;
          box-shadow: 1em 1em 100em #000E24;
  border: #000E24 solid 0.1rem;
  min-width: 30rem;
  min-height: 30rem;
  max-width: 50rem;
  max-height: 50rem;
  position: absolute;
  top: 45%;
  left: 45%;
  opacity: 0;
  -webkit-animation: carousel2 12s infinite;
          animation: carousel2 12s infinite;
}

main > .apropos > .heroImg > img:nth-child(2) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

main > .apropos > .heroImg > img:nth-child(3) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

main > .apropos > .heroImg > img:nth-child(4) {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

main > .apropos > .heroAside {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: heroAside;
  background-color: #000E24;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 3rem;
  bottom: 20%;
  right: 0;
}

main > .apropos > .heroAside > p {
  color: whitesmoke;
  font: 300 62.5% "Open Sans", sans-serif;
  font-size: 2rem;
}

main > .apropos > .container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: info;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

main > .apropos > .container > .info {
  background-color: #000E24;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 2rem;
}

main > .apropos > .container > .info > p {
  font: 200 1vw "Roboto", sans-serif;
  font-size: 1.6rem;
  color: whitesmoke;
}

main > .apropos > .container > .photo {
  background-color: #000E24;
  padding: 2rem;
}

main > .apropos > .container > .photo > img {
  width: 20rem;
  height: 20rem;
}

main > .contact {
  height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "heroAside heroImg";
  grid-auto-columns: 50%;
  overflow: hidden;
}

main > .contact > .heroImg {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: heroImg;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

main > .contact > .heroImg > img {
  height: 80vh;
}

main > .contact > .info {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: heroAside;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 2rem;
}

main > .contact > .info > h1 {
  font: 400 5rem "Permanent Marker", sans-serif;
  margin-bottom: -10rem;
}

main > .contact > .info > p {
  color: whitesmoke;
  font: 200 1vw "Roboto", sans-serif;
  font-size: 1.6rem;
  padding: 1.6rem;
  border-radius: 0.6rem;
  background-color: #000E24;
  -webkit-box-shadow: 1rem 1rem 10rem #161616;
          box-shadow: 1rem 1rem 10rem #161616;
}

main > .contact > .info > p > a {
  text-decoration: none;
  color: whitesmoke;
}

main > .contact > .info > p > a:hover {
  color: #12EEFD;
}

main > .galerie {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  min-height: 75vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15vh;
}

main > .galerie > h1 {
  font: 400 5rem "Permanent Marker", sans-serif;
  position: absolute;
  top: 15vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main > .galerie > a {
  text-decoration: none;
  margin: 1.5rem 3rem;
}

main > .galerie > a > .card {
  background-color: #000E24;
  border-radius: 2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  padding-bottom: 3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 50vh;
}

main > .galerie > a > .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 1rem 1rem 1rem #646464;
          box-shadow: 1rem 1rem 1rem #646464;
}

main > .galerie > a > .card > .cardTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > .galerie > a > .card > .cardTitle > h1 {
  font: 300 62.5% "Open Sans", sans-serif;
  font-size: 2.4rem;
  color: whitesmoke;
}

main > .galerie > a > .card > .cardImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > .galerie > a > .card > .cardImg > img {
  border-radius: .5rem;
  max-width: 35vh;
  max-height: 35vh;
}

main > .galerie .blank {
  width: 0;
  height: 0;
  pointer-events: none;
  padding: 0;
  margin: 0;
  visibility: 0;
  opacity: 0;
  display: none;
}

main > .tarifs > .imgContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: auto auto;
      grid-template: auto / auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > .tarifs > .imgContainer > img {
  width: 100%;
}

footer {
  background-color: #000E24;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "line line" "left right" "copy copy";
  grid-auto-columns: 50%;
  padding: 5em 0 0.8em 0;
}

footer.galeriefooter {
  margin-top: 5rem;
}

footer > .line {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: line;
  margin: .05rem auto 2rem auto;
}

footer > .left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: left;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer > .left > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer > .left > .container > a {
  color: whitesmoke;
  font-size: 1.5rem;
  text-decoration: none;
  padding-left: 2.5rem;
  margin-bottom: 0.6rem;
}

footer > .left > .container > a:hover {
  color: #12EEFD;
}

footer > .left > .container > .map {
  background-image: url("../Images/placemarker.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

footer > .left > .container > .mail {
  background-image: url("../Images/mail.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

footer > .left > .container > .phone {
  background-image: url("../Images/phone.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

footer > .right {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: right;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer > .copy {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: copy;
  font-size: 1rem;
  margin: 0 auto 1em auto;
  color: whitesmoke;
}

@-webkit-keyframes carousel {
  0% {
    -webkit-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
  20% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
  30% {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
    opacity: 0;
  }
}

@keyframes carousel {
  0% {
    -webkit-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
  20% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
  30% {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
    opacity: 0;
  }
}

@-webkit-keyframes carousel2 {
  0% {
    -webkit-transform: translate(-80%, -50%);
            transform: translate(-80%, -50%);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
  20% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
  30% {
    -webkit-transform: translate(-80%, -50%);
            transform: translate(-80%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-80%, -50%);
            transform: translate(-80%, -50%);
    opacity: 0;
  }
}

@keyframes carousel2 {
  0% {
    -webkit-transform: translate(-80%, -50%);
            transform: translate(-80%, -50%);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
  20% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
  30% {
    -webkit-transform: translate(-80%, -50%);
            transform: translate(-80%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-80%, -50%);
            transform: translate(-80%, -50%);
    opacity: 0;
  }
}

@media only screen and (max-width: 1100px) {
  body .menuCb ~ .container .menuCbLabel {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background-image: url("../Images/menu-arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    margin-left: 7rem;
  }
  body .menuCb ~ .container .menuCbLabel::after {
    content: 'Hairelby';
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    display: inline-block;
    font: 400 5rem "Permanent Marker", sans-serif;
    font-size: 2.4rem;
    opacity: 0;
  }
  body .menuCb:checked ~ .container .menuCbLabel {
    background-image: url("../Images/menu-bouton.png");
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
    margin-left: 0;
  }
  body .menuCb:checked ~ .container .menuCbLabel::after {
    content: 'Hairelby';
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
    opacity: 1;
    padding-left: 3rem;
  }
  body .menuCb:checked ~ .container .menu {
    height: 10rem;
  }
  body .menuCb:checked ~ .container .menu li {
    opacity: 0;
    pointer-events: none;
    margin-top: -5rem;
  }
  body nav > .menu {
    -webkit-transition: 0.25s linear;
    transition: 0.25s linear;
    position: absolute;
    display: -ms-grid;
    display: grid;
    text-align: center;
    padding-top: 4rem;
    height: 60rem;
    width: 100%;
    z-index: 50;
  }
  body nav > .menu > li {
    -webkit-transition: 0.25s linear;
    transition: 0.25s linear;
    margin: 0.5rem;
  }
  body main > .index > .heroImg {
    margin-top: 8rem;
  }
  body main > .index > .heroImg > img {
    width: 100%;
    height: 100%;
  }
  body main > .index > .heroAside {
    padding-top: 2rem;
    padding-left: 4rem;
    margin: 15rem 0;
  }
  body main > .index > .heroAside > h1 {
    font-size: 7em;
  }
  body main > .index > .heroAside > p {
    font-size: 1.8rem;
  }
  body main > .index > .heroAside > .heroBtn {
    padding: 1rem 2rem;
    font-size: 1.6rem;
  }
  body main > .index > .carousel {
    height: 60vh;
  }
  body main > .apropos > h1 {
    top: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 5rem;
    width: 100%;
    text-align: center;
  }
  body main > .apropos > .heroImg {
    margin-top: 6rem;
  }
  body main > .apropos > .heroImg > img {
    min-width: 25rem;
    min-height: 25rem;
    max-width: 50rem;
    max-height: 50rem;
  }
  body main > .contact > .heroImg {
    padding-left: 60rem;
  }
  body main > .contact > .heroImg > img {
    height: 50rem;
  }
  body main > .contact > .info {
    background-color: transparent;
  }
  body main > .contact > .info > h1 {
    margin-bottom: -60rem;
  }
  body main > .galerie {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  body main > .galerie > h1 {
    font-size: 3.4rem;
  }
  body main > .galerie > a {
    margin: 3rem 6rem;
  }
  body main > .galerie > .blank {
    height: 25rem;
    width: auto;
    display: initial;
  }
  body main > .tarifs > .imgContainer {
    padding-top: 10rem;
    -ms-grid-rows: auto;
    -ms-grid-columns: auto;
        grid-template: auto / auto;
  }
  body footer > .line {
    margin: .05rem auto 2rem auto;
    width: 90vw;
  }
}

@media only screen and (max-width: 825px) {
  body main > .index > .heroImg {
    margin-top: 8rem;
  }
  body main > .index > .heroImg > img {
    position: absolute;
    top: 10rem;
    right: 0;
    width: 55%;
    height: 45%;
    z-index: -1;
  }
  body main > .index > .heroAside {
    margin: 15rem 0 10rem 0;
  }
  body main > .index > .heroAside > p {
    width: 32rem;
    text-shadow: whitesmoke 0 0 0.8rem;
  }
  body main > .index > .info > p {
    font-size: 1.6rem;
  }
  body main > .index > .carousel {
    height: 60vh;
  }
  body main > .index > .adres > iframe {
    border-radius: 2.5rem;
    width: 50rem;
  }
  body main > .apropos > h1 {
    font-size: 4rem;
  }
  body main > .apropos > .heroImg {
    margin-top: 8rem;
  }
  body main > .contact {
    height: 100vh;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "heroAside heroAside" "heroImg heroImg";
    grid-auto-columns: 50%;
  }
  body main > .contact > .heroImg {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: heroImg;
    padding-left: 50rem;
  }
  body main > .contact > .info {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: heroAside;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 20rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 50rem;
  }
  body main > .contact > .info > h1 {
    margin-bottom: 0rem;
  }
  body main > .galerie {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-top: 20vh;
  }
  body main > .galerie > h1 {
    font-size: 3.4rem;
  }
  body main > .galerie > a {
    margin: 3rem 4rem;
  }
  body main > .galerie > a > .card {
    padding: 1rem;
  }
  body main > .galerie > .blank {
    height: 25rem;
    width: auto;
    display: initial;
  }
  body main > .tarifs > .imgContainer {
    padding-top: 10rem;
  }
  body footer {
        grid-template-areas: "line line" "left left" "right right" "copy copy";
  }
  body footer > .line {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: line;
  }
  body footer > .left {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: left;
    margin-bottom: 1rem;
  }
  body footer > .right {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: right;
    margin-bottom: 1rem;
  }
  body footer > .copy {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: copy;
  }
}

@media only screen and (max-width: 600px) {
  body main > .index > .heroImg > img {
    opacity: 0;
  }
  body main > .index > .heroAside {
    margin: 15rem 0 10rem 0;
  }
  body main > .index > .heroAside > p {
    width: 32rem;
    text-shadow: whitesmoke 0 0 0.8rem;
  }
  body main > .index > .info > p {
    font-size: 1.2rem;
    width: 30rem;
    padding: .5rem;
    line-height: 2.5rem;
  }
  body main > .index > .info > .infoBtn {
    padding: 1rem;
    font-size: 1.6rem;
  }
  body main > .index > .carousel {
    height: 60vh;
  }
  body main > .index > .carousel > img {
    min-width: 10rem;
    min-height: 10rem;
    max-width: 25rem;
    max-height: 25rem;
  }
  body main > .index > .adres > iframe {
    border-radius: 2.5rem;
    width: 30rem;
  }
  body main > .apropos > h1 {
    font-size: 3.2rem;
  }
  body main > .apropos > .heroImg {
    margin-top: 8rem;
  }
  body main > .apropos > .heroImg > img {
    margin-left: 2rem;
    min-width: 10rem;
    min-height: 10rem;
    max-width: 25rem;
    max-height: 25rem;
  }
  body main > .apropos > .heroAside {
    padding: 2rem;
  }
  body main > .apropos > .heroAside > p {
    font-size: 1.3rem;
  }
  body main > .apropos > .container {
    background-color: #000E24;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
  }
  body main > .apropos > .container > .info > p {
    font-size: 1.8rem;
  }
  body main > .apropos > .container > .photo {
    background-color: #000E24;
    padding: 1rem;
    margin-top: -1rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  body main > .contact > .heroImg {
    padding-left: 50rem;
  }
  body main > .contact > .info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 15rem;
    width: 35rem;
  }
  body main > .contact > .info > h1 {
    margin-bottom: 0rem;
    font-size: 3.8rem;
  }
  body main > .galerie {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body main > .galerie > h1 {
    font-size: 3.6rem;
    width: 30rem;
  }
  body main > .galerie > a > .card {
    padding-bottom: 2rem;
  }
  body main > .galerie > .blank {
    height: 15rem;
  }
  body main > .tarifs > .imgContainer {
    padding-top: 10rem;
  }
}
/*# sourceMappingURL=style2.css.map */