.sectionStory {
    min-height: 40vh;
}

.story__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-white-100);
    border-radius: var(--border-radius-global);
    
    padding: 2rem;
}

.story__title {
    color: var(--color-black-800);
    font-size: 3.6rem;

    margin: -1.4rem 0;
}

.story__text {
    color: var(--color-black-600);
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;

    max-width: 80rem;
    margin-top: 3rem;
}