$white: whitesmoke;
$black8: #080808;
$black16: #161616;
$black32: #323232;
$black48: #484848;
$black64: #646464;
$darkPurple: #280a50;
$purple: #3d1472;
$lightPurple: #886add;
$darkGreen: #5ba22e;
$green: #61db14;
$lightGreen: #6ffd14;
$darkAqua: #2ea26e;
$aqua: #1bb688;
$lightAqua: #16d691;

// $main: #162238;
$main: #000E24;
$accent: #12EEFD;