.highlightItem {
    position: relative;

    background-color: var(--color-white-100);
    border-radius: var(--border-radius-global);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    padding: 1rem;

    transition: all .25s;
}
.highlightItem:hover {
    background-color: var(--color-accent-200);
    box-shadow: 0 0 1rem 0 var(--color-accent-200);
}
.highlightImage {
    border-radius: var(--border-radius-global);

    width: 100%;
    height: 100%;
}