header{
    position: sticky;
    top: 0;
    z-index: 1000;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(1rem);
    box-shadow: 0 0 2rem .1rem var(--color-black-600);
    
    height: 10rem;
    width: 100vw;
    padding: 0 var(--padding-global);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 45rem;
    height: 100%;
}
nav > *{
    text-decoration: none;
    font-size: 2.4rem;
}
.logo{
    width: 8rem;
}
.link{
    color: var(--color-white-600);
    text-decoration: none;
}
.link:hover{
    color: var(--color-white-200);
}
.link::after{
    content: '';
    display: block;
    
    background-color: var(--color-white-200);
    border-radius: 2rem;
    
    width: 0;
    height: .25rem;
    
    transition: all .25s;
}
.link:hover::after{
    width: 100%;
}
.active{
    color: var(--color-white-200);
}



.cta {
    background-color: var(--color-white-600);
    color: var(--color-black-400);
    border-radius: var(--border-radius-global);

    padding: calc(var(--padding-global) / 10) calc(var(--padding-global) / 5);
}
.cta::after{
    display: none;
}
.cta:hover{
    background-color: var(--color-accent-200);
    color: var(--color-accent-800);

    box-shadow: 0 0 1rem 0 var(--color-accent-800);
}