header{
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(1rem);

    height: 10rem;
    padding: 0 3rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 30rem;
    height: 100%;
}
nav > *{
    text-decoration: none;
    font-size: 2.4rem;
}
.logo{
    width: 8rem;
}