.sectionProjects{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}
.title{
    font-size: 5.6rem;
    margin: 3rem;
}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(55rem, 1fr));
    justify-items: center;
    gap: calc(var(--padding-global)*1.5) var(--padding-global);

    width: 100%;
    margin-bottom: 6rem;
}
/* .projects img{
    border: 1rem var(--color-white-200) solid;
    border-radius: var(--border-radius-global);

    width: 80%;
    transition: all .125s;
}
.projects img:hover{
    border: 1rem var(--color-accent-200) solid;
    box-shadow: 0 0 1rem 0 var(--color-accent-200);
} */