.sectionProjects{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}
.title{
    font-size: 5.6rem;
    margin: 3rem;
}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(55rem, 1fr));
    justify-items: center;

    width: 100%;
    margin-bottom: 6rem;
}
.projects img{
    width: 80%;
}