.welcome{
    --offset: 30rem;
    position: absolute;
    top: var(--offset);
    left: calc(var(--offset) / 2);

    font-size: 10rem;
    font-weight: lighter;
    text-align: left;
    text-shadow: 0 0 2rem var(--color-accent-800);
}
.word{
    color: var(--color-accent-800);
    font-weight: bold;
}