.welcome{
    position: absolute;
    top: 30vh;
    left: 5vw;

    background-color: #0005;
    border-radius: var(--border-radius-global);
    box-shadow: .25rem .25rem 2rem var(--color-black-800);

    font-size: 10rem;
    font-weight: lighter;
    text-align: left;
    text-shadow: 0 0 2rem var(--color-accent-800);

    padding: var(--padding-global);

    backdrop-filter: blur(1rem);
}
.word{
    color: var(--color-accent-700);
    font-weight: bold;
}



/* Make it responsive */
@media screen and (max-width: 767px){
    .welcome{
        font-size: 4.2rem;
    }
}
/* Make it responsive */
@media screen and (min-width:768px) and (max-width: 1024px){
    .welcome{
        font-size: 6.4rem;
    }
}