.welcome{
    font-size: 2.4rem;
    font-weight: lighter;
    text-align: left;
}
.word{
    color: var(--color-accent-800);
    font-weight: bold;
}


.heroSContainer{
    overflow: hidden;
    position: absolute;
    top: 10rem;
    z-index: -1;

    height: 100vh;
    width: 100vw;

    margin: 0 calc(var(--padding-global) * -1);
}
.heroS{
    --heroStart: 800%;
    position: absolute;
    top: 0;

    background-size: 101% !important;
    background-repeat: no-repeat !important;

    height: 100%;
    width: 100%;

    transition: all .25s;
}
.heroS1{
    background: url('/images/hero-1.svg');
}
.heroS2{
    background: url('/images/hero-2.svg');
    background-position: left var(--heroStart) top 100%;
    animation: move 6s infinite ease 0.5s;
}
.heroS3{
    background: url('/images/hero-3.svg');
    background-position: left var(--heroStart) top 100%;
    animation: move 10s infinite ease 1s;
}

@keyframes move {
    0% {
        background-position: left var(--heroStart) top 100%;
    }
    50% {
        background-position: left 0% top 100%;
    }
    100% {
        background-position: left var(--heroStart) top 100%;
    }
}