:root {
  --color-black-100: #646464;
  --color-black-200: #484848;
  --color-black-300: #323232;
  --color-black-400: #242424;
  --color-black-500: #161616;
  --color-black-600: #121212;
  --color-black-700: #080808;
  --color-black-800: #040404;
  --color-black-900: #000;

  --color-white-100: #fff;
  --color-white-200: #eee;
  --color-white-300: #ddd;
  --color-white-400: #ccc;
  --color-white-500: #bbb;
  --color-white-600: #aaa;
  --color-white-700: #999;
  --color-white-800: #888;
  --color-white-900: #777;

  --color-accent-100: #f3eaff;
  --color-accent-200: #e7d4ff;
  --color-accent-300: #dbbeff;
  --color-accent-400: #cfabff;
  --color-accent-500: #d1b8ff;
  --color-accent-600: #b39aff;
  --color-accent-700: #9580ff;
  --color-accent-800: #7766ff;
  --color-accent-900: #594cff;



  --padding-global: 3rem;



  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color-scheme: light dark;
  color: var(--color-white-200);
  background-color: var(--color-black-400);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-black-400);
    background-color: var(--color-white-200);
  }
}


html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  text-align: center;

  margin: 0;
  padding: 0;
}